---
import Titol from "../components/Titol.astro";
import Layout from "../layouts/Layout.astro"
import cvData from "../data/cv.json";
let i = 0;
---

<Layout>
    <Titol text="Informacio"/>
    <div class="m-5">
        <p>{cvData.profile_summary}</p>
        <h2 class="font-bold mt-7 mb-3 text-xl text-blue-500">Experiencia</h2>
        <ul>
        {cvData.experience.map((candidate => (
            <li>
                <p class="font-bold">{candidate.company}</p>
                <p class="text-sm mb-2 text-gray-600">{candidate.position}</p>
                <p class="text-xs text-gray-500">{candidate.duration}</p>
                <br/>
            </li>
            )))}
        </ul>
    </div>
</Layout>