---
---

<div class="flex flex-row justify-between mb-10">
    <div class="flex flex-row w-1/2"><p><a href="/">ap</a></p></div>
    <div class="flex flex-row w-1/2 space-x-3 justify-end">
        <a href="informacio">Informació</a>
        <a href="escrits">Escriptura</a>
        <a href="contacte">Contacte</a>
    </div>
</div>