---
---

<div class="flex flex-row justify-between mb-10">
    <div class="flex flex-row w-1/2 font-bold"><p><a href="/portfoli">ap</a></p></div>
    <div class="flex flex-row w-1/2 space-x-3 justify-end">
        <a href="/portfoli/informacio">Informació</a>
        <a href="/portfoli/escrits">Escriptura</a>
        <a href="/portfoli/contacte">Contacte</a>
    </div>
</div>